<div>
  <div class="card">
    <div class="d-flex justify-content-center card-img">
      <%= image_tag 'logo.png', width: '200px' %>
    </div>
    <div class="card-img-overlay mt-4 mx-5 d-flex">
      <div class="mr-auto">
        <i class="fas fa-user"></i>
        <%= link_to "マイページ" , user_path(@user.id), style: "color:#66CC33; font-size:25px;" %>
      </div>
      <div>
      <ul class="list-group-horizontal list-unstyled d-flex flex-row-reverse">
        <li class="mx-2">
          <i class="fas fa-home"></i>
          <%= link_to "スポット", spots_path, style: "color:#66CC33; font-size: 25px;" %>
        </li>
        <li class="mx-2">
          <i class="fas fa-plus"></i>
          <%= link_to "投稿", new_spot_path , style: "color:#66CC33; font-size: 25px;" %>
        </li>
      </ul>
      </div>
    </div>
  </div>
<div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= attachment_image_tag @finduser, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "default-image.jpg" %>
      <p><%= @finduser.name %></p>
      <p><%= @finduser.introduction %></p>
      
        <%= link_to "プロフィールを編集", edit_user_path(@finduser.id), class:"btn btn-outline-dark" %>

    </div>
    <div class="col-9">
      <div class="container">
        <% @spots.each do |spot| %>
          <div class="row mx-3 mt-5">
            <div class="col">
              <%= attachment_image_tag spot, :image, :fill,250,250 %>
              <%= link_to user_path(spot.user.id), style:"color:black;" do %>
              <h5><%= spot.user.name %></h5>
              <% end %>
            </div>
            <div class="col-7">
              <%= link_to spot_path(spot.id) do %>
              <h1><%= spot.title %></h1>
              <% end %>
              <p>場所 : <%= spot.place %></p>
              <%= spot.body %>
            </div>
          </div>
        <% end %>
        <h2 class="mt-3">♥お気に入り</h2>
        <% @favorites.each do |favorite| %>
          <div class="row mx-3 mt-5">
            <div class="col">
              <%= attachment_image_tag favorite.spot, :image, :fill,250,250 %>
              <%= link_to user_path(favorite.spot.user.id), style:"color:black;" do %>
              <h5><%= favorite.spot.user.name %></h5>
              <% end %>
            </div>
            <div class="col-7">
              <%= link_to spot_path(favorite.spot.id) do %>
              <h1><%= favorite.spot.title %></h1>
              <% end %>
              <p>場所 : <%= favorite.spot.place %></p>
              <%= favorite.spot.body %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>